<h2>Ing. Petr Kratochv&iacute;l &ndash; životopis</h2>

<p>(27. 7. 2021, trvale aktualizovan&aacute; verze životopisu: <a href="http://www.krato.cz/zivotopis">www.krato.cz/zivotopis</a>)</p>

<h2>Osobn&iacute; &uacute;daje</h2>

<table cellpadding="4" cellspacing="0" style="width:426px">
	<tbody>
		<tr>
			<td>
			<p>Titul, jm&eacute;no a př&iacute;jmen&iacute;:</p>
			</td>
			<td>
			<p>Ing. Petr Kratochv&iacute;l</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>IČ:</p>
			</td>
			<td>
			<p>03645762</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Datum narozen&iacute;:</p>
			</td>
			<td>
			<p>9.&nbsp;10.&nbsp;1981</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Trval&eacute; bydli&scaron;tě:</p>
			</td>
			<td>
			<p>Havansk&aacute; 2808, 390 05 T&aacute;bor</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Přechodn&eacute; bydli&scaron;tě:</p>
			</td>
			<td>
			<p>Plzeň</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Telefon:</p>
			</td>
			<td>
			<p>776 762 237</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>E-mail:</p>
			</td>
			<td>
			<p><a href="mailto:krato@krato.cz">krato</a><a href="mailto:krato@krato.cz">@krato.</a><a href="mailto:krato@krato.cz">cz</a></p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Web:</p>
			</td>
			<td>
			<p><a href="http://www.krato.cz/">www.krato.</a><a href="http://www.krato.cz/">cz</a></p>
			</td>
		</tr>
	</tbody>
</table>

<h2>Dosažen&eacute; vzděl&aacute;n&iacute;</h2>

<ul>
	<li>
	<p>2002&nbsp;&ndash;&nbsp;2007: Magistersk&eacute; studium na Katedře informatiky a v&yacute;početn&iacute; techniky na Fakultě Aplikovan&yacute;ch Věd na Z&aacute;padočesk&eacute; Univerzitě v&nbsp;Plzni. Program a obor: Inžen&yacute;rsk&aacute; Informatika &ndash; Informatika a V&yacute;početn&iacute; Technika, specializace: Distribuovan&eacute; Syst&eacute;my. T&eacute;ma diplomov&eacute; pr&aacute;ce: &bdquo;Komunikačn&iacute; syst&eacute;m s&nbsp;využit&iacute;m mobiln&iacute;ch zař&iacute;zen&iacute;&ldquo;. Pob&iacute;r&aacute;n&iacute; prospěchov&eacute;ho stipendia za studijn&iacute; v&yacute;sledky v 3. a 4. ročn&iacute;ku.</p>
	</li>
	<li>
	<p>1997&nbsp;&ndash;&nbsp;2001: SP&Scaron; A VO&Scaron; P&iacute;sek &ndash; elektrotechnick&aacute; průmyslov&aacute; &scaron;kola, obor: el. poč&iacute;tače.</p>
	</li>
</ul>

<h2>Pracovn&iacute; zku&scaron;enosti</h2>

<ul>
	<li>
	<p>2015 leden &ndash; dnes: OSVČ &ndash; v&yacute;voj webov&yacute;ch prezentac&iacute; a API v PHP, Java, JavaScriptu, TypeScriptu, administrace Linuxov&yacute;ch serverů, security management.</p>
	</li>
	<li>
	<p>2014 ř&iacute;jen &ndash; prosinec: extern&iacute; spolupr&aacute;ce: RTsoft s.r.o. &ndash; v&yacute;voj webov&yacute;ch str&aacute;nek na zak&aacute;zku.</p>
	</li>
	<li>
	<p>2013 březen: extern&iacute; spolupr&aacute;ce: RTsoft s.r.o. &ndash; intranetov&eacute; webov&eacute; str&aacute;nky evidence zbož&iacute;.</p>
	</li>
	<li>
	<p>2011 &uacute;nor&nbsp;&ndash;&nbsp;srpen: ext. spolupr&aacute;ce: Swistar s.r.o. &ndash; hotelov&aacute; kniha pro tablety s OS Android.</p>
	</li>
	<li>
	<p>2007: extern&iacute; spolupr&aacute;ce: Z&aacute;padočesk&aacute; Univerzita v Plzni &ndash; International Student Club &ndash; v&yacute;voj webu International Student Club, kter&yacute; patř&iacute; pod oddělen&iacute; Zahraničn&iacute;ch vztahů ZČU.</p>
	</li>
	<li>
	<p>2002&nbsp;&ndash;&nbsp;2004: extern&iacute; spolupr&aacute;ce: Oddělen&iacute; informačn&iacute;ch syst&eacute;mů v&nbsp;Nemocnici T&aacute;bor,&nbsp;a.s. &ndash;&nbsp;v&yacute;voj intranetov&yacute;ch webov&yacute;ch str&aacute;nek (HTML, PHP, MySQL) a jejich &uacute;držba a inovace.</p>
	</li>
</ul>

<ul>
	<li>
	<p>2002: 5 měs&iacute;ců trval&yacute; prac. poměr na oddělen&iacute; informačn&iacute;ch syst&eacute;mů v&nbsp;Nemocnici T&aacute;bor,&nbsp;a.s.</p>
	</li>
</ul>

<p><br />
&nbsp;</p>

<h2>Znalosti a &uacute;spěchy</h2>

<h3>IT znalosti</h3>

<ul>
	<li>
	<p><strong>Programovac&iacute; jazyky &ndash; profesion&aacute;ln&iacute;:</strong><strong> </strong><strong>PHP, </strong>Java, JavaScript, ES6.</p>
	</li>
	<li>
	<p><strong>Programovac&iacute; jazyky &ndash; pokročil&yacute;:</strong><strong> </strong><strong>TypeScript, </strong><strong>ANSI C, </strong>C#<strong>, </strong><strong>Delphi</strong>.</p>
	</li>
	<li>
	<p><strong>Operačn&iacute; syst&eacute;my &ndash; profesion&aacute;ln&iacute;:</strong><strong> </strong><strong>Linux (Debian, Ubuntu, Mint, </strong><strong>openSUSE, RHEL, </strong><strong>&hellip;)</strong>.</p>
	</li>
	<li>
	<p><strong><strong>Ostatn&iacute;</strong></strong><strong> &ndash; profesion&aacute;ln&iacute;:</strong><strong> </strong><strong>Docker, </strong><strong>Docker </strong><strong>C</strong><strong>ompose, </strong><strong>Angular, </strong><strong>Nett</strong><strong>e</strong><strong>, Latt</strong><strong>e</strong>, HTML5, CSS3, SCSS, MySQL, ERA a UML modelov&aacute;n&iacute;, REST API, Ajax, jQuery, jQuery UI, Selenium, Git, GitLab CI/CD, Redmine.</p>
	</li>
	<li>
	<p><strong>Ostatn&iacute; &ndash; pokročil&yacute;:</strong><strong> S</strong>oftware a hardware běžn&eacute;ho PC, CMS Drupal, uměl&aacute; inteligence.</p>
	</li>
</ul>

<h3>Kurzy</h3>

<ul>
	<li>
	<p><strong>Cisco Networking Academy (CNA)</strong> &ndash; z&iacute;sk&aacute;ny v&scaron;echny čtyři certifik&aacute;ty v roce 2006.</p>
	</li>
	<li>
	<p>V roce 2020 uveden vlastn&iacute; kurz na YouTube: <a href="https://www.youtube.com/c/PetrKratochvil">https://www.youtube.com/c/PetrKratochvil</a></p>
	</li>
</ul>

<h3>Jazykov&eacute; znalosti</h3>

<ul>
	<li>
	<p><strong>Angličtina</strong> &ndash; aktivně, pokročil&yacute; &ndash; p&iacute;smem a slovem.</p>
	</li>
</ul>

<h3>&Uacute;spěchy v IT soutěž&iacute;ch</h3>

<ul>
	<li>
	<p>Na V&Scaron; v roce 2004, 2005 a 2006 reprezentace na celorep. kole soutěže ACM &ndash; International Collegiate Programming Contest, v&nbsp;roce 2005 a 2006 &uacute;čast na evropsk&eacute;m kole v&nbsp;Budape&scaron;ti.</p>
	</li>
	<li>
	<p>Na Z&Scaron; a S&Scaron; opakovan&eacute; um&iacute;stěn&iacute; na předn&iacute;ch m&iacute;stech v krajsk&eacute;m kole v&nbsp;Česk&yacute;ch Budějovic&iacute;ch a v roce 1997 &uacute;čast na mistrovstv&iacute; ČR v&nbsp;programov&aacute;n&iacute; v Mlad&eacute; Boleslavi.</p>
	</li>
</ul>

<h2>Z&aacute;jmy</h2>

<ul>
	<li>
	<p><strong><strong>Profesion&aacute;lně:</strong></strong><strong> </strong><strong>OS Linux</strong><strong>.</strong></p>
	</li>
	<li>
	<p><strong><strong>Rekreačně:</strong></strong><strong> </strong><strong>In-</strong><strong>line bruslen&iacute;, plav&aacute;n&iacute;, hudba, </strong><strong>j</strong>&iacute;zda na koni, &scaron;achy, poč&iacute;tačov&eacute; hry.</p>
	</li>
</ul>

<p>&nbsp;</p>
