<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|striptags}{/block} {block titleDelimiter}|{/block} Ing. Petr Kratochvíl</title>

        <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{$basePath}/css/main.css">
		<link rel="shortcut icon" href="{$basePath}/images/photo%20-%20krato%20-%20gmail%20-%2020130209-0640%20-%2060x60%20-%20edit-1-1.png">
        {block head}{/block}
{*
		<script type="text/javascript">
			window.smartlook || (function (d) {
				var o = smartlook = function () {
					o.api.push(arguments)
				}, s = d.getElementsByTagName('script')[0];
				var c = d.createElement('script');
				o.api = new Array();
				c.async = true;
				c.type = 'text/javascript';
				c.charset = 'utf-8';
				c.src = '//rec.getsmartlook.com/bundle.js';
				s.parentNode.insertBefore(c, s);
			})(document);
			smartlook('init', '7a9ea663159940b0a0768132d991f7bb3efe6c12');
		</script>
*}
    </head>

    <body style="zoom: 1.25;">
        <script src="{$basePath}/js/jquery.min.js"></script>

        <div id="layout-wrap">

            <div id="layout-header">
                <div id="layout-header-title">
                    <a href="{$basePath}/">Ing. Petr Kratochvíl</a>
                </div>
            </div>

            {control menu}

            <h1>{include #title}</h1>

			{block flashmessages}
			<div n:if="count($flashes)>0" id="flashmessages">
				<div n:foreach="$flashes as $flash"
					 class='flashmessage {$flash->type}'>{$flash->message}
				</div>
			</div>
			{/block}

            {block content}{/block}

            {block scripts}
            <script src="{$basePath}/js/bootstrap.min.js"></script>
            <script src="{$basePath}/js/netteFormsx.js"></script>
            <script src="{$basePath}/js/ckeditor.js"></script>
			<script src="{$basePath}/lib/ckeditor/ckeditor.js"></script>
            <script src="{$basePath}/js/main.js"></script>
            {/block}

        </div>
    </body>
</html>
