{block titleDelimiter}{/block}
{block content}
<link rel="stylesheet" href="{$basePath}/css/titlePage.css">
<center>
    <table id="table-overview" class="table table-bordered table-striped special-title-page-table">
        <thead>
            <tr>
                <th class="contact" colspan="5">
                    Oblasti zájmu
                </th>
				<th class="contact">
                    Životopis, kontakt
                </th>
            </tr>
            <tr>
                <th>
                    Tvorba webových stránek
                </th>
                <th>
                    OS Linux
                </th>
                <th>
                    AOS pro Forex
                </th>
                <th>
                    Programování obecně
                </th>
                <th>
                    Obecná umělá inteligence
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                Zejména PHP a profesionální redakční systém Drupal.
            </td>
            <td>
                Na serveru i na desktopu.
            </td>
            <td>
                Automatické obchodní systémy (AOS)
				pro obchodování s měnovými páry (Forex).
            </td>
            <td>
                Desktopové a jiné aplikace v prog. jazycích Java, PHP, popř. ANSI C a C#.
            </td>
            <td>
                Jedná se o relativně novou vědní oblast.
            </td>
            <td rowspan="8" class="contact">
                &nbsp;
                <p align="center">
                    <img width="48" height="48" src="{$basePath}/images/photo%20-%20krato%20-%20gmail%20-%2020130209-0640%20-%2060x60%20-%20edit-1-1.png">
                </p>
                <h3>Životopis</h3>
                <p style="text-align: center;">
                    Poslední aktualizace:
                    <br />
                    {$cv['lastmod']}
                </p>
                <ul>
                    <li><a href="{$basePath}{$cv['urls']['cs']}">CV v češtině</a></li>
                    <li><a href="{$basePath}{$cv['urls']['en']}">CV v angličtině</a></li>
                </ul>
                <h3>Sociální sítě</h3>
                <ul>
                    <li><a href="https://www.github.com/kratocz/">GitHub</a></li>
                    <li><a href="https://hub.docker.com/u/krato/">Docker Hub</a></li>
                    <li><a href="https://www.facebook.com/kratocz">Profil na Facebooku</a></li>
                    <li><a href="https://www.linkedin.com/in/petr-kratochv%C3%ADl-43072724">Profil na LinkedIn</a></li>
                    <li><a href="http://www.last.fm/user/krato">Musiclog na Last.fm</a></li>
                </ul>
                <h3>Kontakt</h3>
                <ul>
                    <li>E-mail: <a href="mailto:krato@krato.cz">krato@krato.cz</a></li>
                    <li>Hangouts: kratocz@gmail.com</li>
                    <li>Skype: kratocz</li>
                    <li>Mobil: 776762237</li>
                </ul>


            </td>
        </tr>
        <tr class="h3">
            <td>
                <h3>Umím</h3>
            </td>
            <td>
                <h3>Umím</h3>
            </td>
            <td>
                <h3>Umím</h3>
            </td>
            <td>
                <h3>Umím</h3>
            </td>
            <td>
                <h3>Umím</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Technologie</h4>
                <p>
                    HTML, CSS, JavaScript, PHP, MySQL (PDO), OOP, MVC.
                </p>
                <h4>Frameworky a knihovny</h4>
                <p>
                    Nette, Latte, Smarty, jquery, jquery_ui.
                </p>
                <h4>Redakční systémy</h4>
                <p>
                    Drupal, částečně Wordpress a Joomla.
                </p>
                <h4>Drupal</h4>
                <p>
                    Konfigurace, drush (Drupal shell), Aegir (hostingový systém), Baracuda, vývoj modulů a&nbsp;témat.
                </p>
            </td>
            <td>
                <h4>Distribuce</h4>
                <p>
                    Debian, Ubuntu, Kubuntu, ...
                </p>
                <h4>BASH</h4>
                <p>
                    Běžně používané příkazy pro administraci včetně zálohování. Skripty.
                </p>
                <h4>Konfigurace</h4>
                <p>
                    Instalace a konfigurace na míru webového serveru Apache+MySQL+PHP.
                </p>
                <h4>Síťová komunikace</h4>
                <p>
                    Principy běžně používaných protokolů (HTTP, FTP, SSH, POP3, SMTP, TCP, UDP, ...).
                </p>
            </td>
            <td>
				<h4>Programovací jazyky</h4>
				<h5>Základy</h5>
                <p>
                    MQL, cAlgo.
                </p>
				<h4>Přepis</h4>
				<p>
                    Z MQL do cAlgo nebo Java.
                </p>
				<p>
                    Plánuji jednou zkusit přepis backtestu do OpenCL (grafická karta).
                </p>
            </td>
            <td>
                <h4>Programovací jazyky</h4>
                <h5>Profesionálně</h5>
                <p>
                    PHP, Java (J2SE).
                </p>
                <h5>Pokročilý</h5>
                <p>
                    C#, ANSI C, Java pro Android, assembler i386.
                </p>
                <h4>Návrh projektu</h4>
                <p>
                    OOP, MVC, ERA model, DSP (dokument spec. požadavků), ...
                </p>
                <h4>A co J2EE?</h4>
                <p>
                    Webové stránky v J2EE jsem nikdy nevyvíjel, ale umím vyvíjet weby v PHP a umím Javu J2SE, takže k J2EE nemám daleko.
                </p>
            </td>
            <td>
                <h4>Odborné publikace</h4>
                <ul>
                    <li>
                        <a href="http://www.zcu.cz/about/people/staff.html?osoba=3225">
                            ZČU - publikace
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="h3">
            <td>
                <h3>Nabízím všem</h3>
            </td>
            <td>
                <h3>Nabízím všem</h3>
            </td>
            <td>
                <h3>Nabízím všem</h3>
            </td>
            <td>
                <h3>Nabízím všem</h3>
            </td>
            <td>
                <h3>Nabízím všem</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Drupalové aktivity</h4>
                <p>
                    {* <a href="http://drupal.krato.cz/">http://drupal.krato.cz/</a> *}
                    http://drupal.krato.cz/
					<br>
					(dočasně mimo provoz)
                </p>
                <h4>Komunity na Google+</h4>
                <ul>
                    <li>
                        <a href="https://plus.google.com/u/0/communities/111958670112086311348">
                            Drupal [EN]
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/communities/110505805547075664974">
                            Drupal [CZ]
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/communities/116425109758601158001">
                            Website dev [EN]
                        </a>
                    </li>
                </ul>
                <h4>
                    Webhosting, domény, VPS, internetový disk
                </h4>
                <p>
                    Sám neprovozuji, ale používám a vřele doporučuji hostingovou
                    <a href="http://hosting.wedos.com/d/81278">společnost WEDOS Internet, a.s.</a>
                </p>
            </td>
            <td>
                <h4>Komunity na Google+</h4>
                <ul>
                    <li>
                        <a href="https://plus.google.com/u/0/communities/116120279690386505719">
                            Linux - server [EN]
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/communities/102628323094418213238">
                            Linux - server [CZ]
                        </a>
                    </li>
                </ul>
            </td>
            <td>
				Vývoj a přepis AOS.
            </td>
            <td>
                Tato část se připravuje.
            </td>
            <td>
                <h4>Co je obecná UI?</h4>
                <p>
                    Šachový program, postava v 3D akční hře, vyhledávač jsou UI
                    zaměřené pevně na určitou oblast. Obecná UI funguje nezávisle na oblasti.
                    Více viz:
                    <br />
                    <a href="http://en.wikipedia.org/wiki/Strong_AI">
                        Wikipedia: Strong AI
                    </a>
                </p>
                <p>
                    Do budoucna připravuji znalostní websity:
                </p>
                <ul>
                    <li>
                        <a href="http://www.agiwiki.eu/">AGI Wiki</a>
                    </li>
                    <li>
                        <a href="http://www.artificial-general-intelligence.eu/">Artificial General Intelligence</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="h3">
            <td>
                <h3>Nabízím firmám</h3>
            </td>
            <td>
                <h3>Nabízím firmám</h3>
            </td>
            <td>
                <h3>Nabízím firmám</h3>
            </td>
            <td>
                <h3>Nabízím firmám</h3>
            </td>
            <td>
                <h3>Nabízím firmám a akademické půdě</h3>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p>
                    V současné době spolupracuji pro několik klientů
					jako OSVČ (vystavuji faktury) nebo
                    v případě vytížení doporučím schopného kolegu,
                    včetně ukázky jeho dosavadních referencí.
                </p>
            </td>
            <td>
				<p>
					Spolupráci dle dohody, pokud se také zabýváte
					obecnou umělou inteligencí na vědecké úrovni
					(univerzity, výzkumné ústavy, ...).
				</p>
            </td>
        </tr>
    </table>
</center>
