{block title}Životopis{/block}

{block content}

<div id="page-cv">
	<div class="panel panel-info page-cv-download-links">
		<div class="panel-heading">
			<h3 class="panel-title">Formát pro tisk nebo stažení (PDF)</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li><a href="{$basePath}{$cv['urls']['cs']}">CV v češtině</a></li>
				<li><a href="{$basePath}{$cv['urls']['en']}">CV v angličtině</a></li>
			</ul>
			<div class="page-cv-download-links-info">
				Poslední aktualizace: {$cv['lastmod']}
			</div>
		</div>
	</div>

	<div class="page-cv-body">
		{!$cvHtml}
	</div>
</div>
