{block title}Životopis - editace{/block}

{block content}

<div id="page-cv-edit">
	{control editForm}
	<script>
		// Replace the <textarea id="editor1"> with a CKEditor
		// instance, using default configuration.
		CKEDITOR_BASEPATH = {$basePath} + '/lib/ckeditor/';
		$(function () {
			CKEDITOR.replace('body');
		});
	</script>
</div>
