{block title}Kontakt{/block}

{block content}

<div id="page-contact">
	<table class="table">

		<tr>
			<th>Jméno:</th>
			<td>Ing. Petr Kratochvíl</td>
		</tr>

		<tr>
			<th>E-mail:</th>
			<td><a href="mailto:krato@krato.cz">krato@krato.cz</a></td>
		</tr>

		<tr>
			<th>Hangouts:</th>
			<td>kratocz@gmail.com</td>
		</tr>

		<tr>
			<th>Skype:</th>
			<td>kratocz</td>
		</tr>
		
		<tr>
			<th>Google+:</th>
			<td>kratocz@gmail.com</td>
		</tr>

		<tr>
			<th>Facebook:</th>
			<td><a href="https://www.facebook.com/kratocz">https://www.facebook.com/kratocz</td>
		</tr>

		<tr>
			<th>LinkedIn:</th>
			<td><a href="https://www.linkedin.com/in/petr-kratochv%C3%ADl-43072724">https://www.linkedin.com/in/petr-kratochv%C3%ADl-43072724</td>
		</tr>

		<tr>
			<th>Mobil:</th>
			<td>+420 776 76 22 37</td>
		</tr>

		<tr>
			<th>Bitcoin&nbsp;donate:</th>
			<td>
				12ULg96Py4xXgSWpQS1uMLGzJ5Lpr9TheP
				<img src="{$basePath}/images/qrcode-bitcoin-12ULg96Py4xXgSWpQS1uMLGzJ5Lpr9TheP-message_krato.cz_donate.png">
			</td>
		</tr>
		
		<tr>
			<th>QR kódová vizitka:</th>
			<td>
				<img style="float:left; margin-top: -8px; width: 120px; height: 120px" src="{$basePath}/images/qrcode-url-krato.cz-vcard-01.png">
				<p style="font-size: 75%;">
Petr Kratochvíl
<br>
OSVČ
<br>
tel.:  +420 776762237
<br>
email: krato@krato.cz
<br>
email: kratocz@gmail.com
<br>
email: krato@kky.zcu.cz
<br>
web:   www.krato.cz
				</p>
			</td>
		</tr>

	</table>
</div>
