<div id="menu">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				{foreach $items as $action => $label}
					<li class="{ifCurrent $action}active{/ifCurrent}">
						<a href="{plink $action}">{$label}</a>
					</li>
				{/foreach}
			</ul>
		</div>
	</nav>
</div>
