/* 
    Created on : 6.6.2015, 22:19:28
    Author     : krato
*/

body {
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#layout-wrap {
    width: 960px;
    margin: 0 auto;
}

.info {
	background-color: #ddffdd;
}
.warning {
	background-color: #ffffaa;
}
.error {
	background-color: #ffdddd;
}

#layout-header {
    width: 960px;
    height: 50px;
    background-color: #8888ff;
}

#layout-header-title {
    padding-left: 16px;
    padding-top: 4px;
}

#layout-header-title a,
#layout-header-title a:visited,
#layout-header-title a:hover {
	color: #fff;
    font-size: 2em;
	text-decoration: none;
}

#layout-header-title a:hover {
	text-decoration: underline;
	color: yellow;
}

#menu {
    color: #ddd;
}

#page-contact table {
	width: 460px;
}

.page-cv-download-links-info {
	color: #888888;
}

#page-cv-edit #frm-editForm table {
	width: 100%;
}

#page-cv-edit #frm-editForm input[name=cancel] {
	margin-top: 6px;
}

#page-cv-edit #frm-editForm input[name=_submit] {
	margin-top: 6px;
	float: right;
}

.special-title-page-table tr td h3 {
	font-size: 90%;
}
