table.special-title-page-table {
    /*width: 1000px;*/
    border: solid 1px black;
}
.special-title-page-table td,
th {
    width: 14.5%;
    padding: 2px;
    border-right: solid 1px grey;
    vertical-align: text-top;
    font-size: 85%;
    text-align: center;
}
th {
    background-color: #ffffaa;
    background: -webkit-linear-gradient(#ffa, #ffc);
    background: linear-gradient(#ffa, #ffc);
    text-align: center;
    font-size: 90%;
    font-weight: bold;
}
th.news {
    background-color: #ccffcc;
    background: -webkit-linear-gradient(#afa, #cfc);
    background: linear-gradient(#afa, #cfc);
    text-align: center;
}
th.contact {
    background-color: #ccccff;
    background: -webkit-linear-gradient(#aaf, #ccf);
    background: linear-gradient(#aaf, #ccf);
    text-align: center;
}
td.contact {
    text-align: left;
}
.special-title-page-table h3 {
    font-size: 90%;
}
.special-title-page-table h3,
.special-title-page-table h4,
.special-title-page-table h5 {
    text-align: center;
    font-size: 120%;
}
.special-title-page-table li {
    margin-left: -4px;
}
.special-title-page-table .h3 td {
    background-color: #ccf;
}

.article-small-box {
    border-bottom: 1px solid grey;
    background-color: #eee;
    background: -webkit-linear-gradient(#ddd, #fff);
    background: linear-gradient(#ddd, #fff);
}

.article-small-box a {
    font-weight: bold;
}

h1#site-name {
    margin-left: 16px;
}

